body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}
ul {
    padding: 0;
    display: block;
    list-style-type: none;
}
.inner h1, .inner p, 
.inner label, .option, .case {
    text-transform: uppercase;
}
.none {
    text-transform: none !important;
}
.inner p {
    margin-top: 0;
}
.container {
    display: flex;
    flex-wrap: wrap;
    min-width: 100%;
    align-items: center;
    justify-content: center;
    -webkit-overflow-scrolling: touch;
}
.view {
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}
.header {
    width: 60vw;
    padding: 20px;
    border-radius: 10px;
}
.header .inner {
    display: flex;
    min-height: 100%;
    text-align: center;
    border-radius: 10px;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}
.fixed-left {
  left: 10px;
  z-index: 10;
  position: fixed;
  min-height: 100vh;
  max-height: 100vh;
}
.fixed-bottom {
  bottom: 0;
  position: fixed;
  min-width: 100vw;
}
.menu {
    width: 100%;
    display: block;
    padding: 0 10px;
    list-style-type: none;
}
.vertical {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}
.option {
    padding: 20px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 10px;
    display: inline-block;
}
.switch {
    margin: 1x;
    padding: 10px;
    max-width: 75%;
    min-width: 100px;
    border-radius: 10px;
}
.switch .inner {
    margin: 0;
    display: flex;
    min-height: 100%;
    text-align: center;
    border-radius: 10px;
    justify-content: space-around;
}
.switch .inner .case {
    padding: 10px;
    min-height: 100%;
    text-align: center;
    border-radius: 10px;
    border: 2px solid transparent;
}
.input {
    margin: 0;
    width: 75%;
    border: none;
    resize: none;
    padding: 10px;
    outline: none;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
}
.link {
    color: #00dbff;
}
.link:hover {
    cursor: pointer;
    text-decoration: underline;
}
.toggle {
  z-index: 25;
  width: 40px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  min-width: 40px;
  min-height: 20px;
  transition: 0.5s;
  border-radius: 20px;
}
.toggle.active {
    border: none;
    background-color: #00dbff;
}
.dot {
    color: white;
    float: none;
    width: 20px;
    height: 20px;
    cursor: pointer;
    min-width: 20px;
    min-height: 20px;
    transition: 0.5s;
    border-radius: 50%;
    background-color: white;
}
.toggle.active .dot {
    float: right;
}
.right {
    float: right;
}
.flex-right {
    justify-content: flex-end;
}
.flex-between {
    justify-content: space-between;
}
.login,
.margin-top {
    margin-top: 10vh;
}
.max-height {
    overflow-y: auto;
    max-height: 65vh;
    overflow-x: hidden;
}
.week {
    margin-top: 5vh;
}
.logout {
    top: 5px;
    right: 5px;
    cursor: pointer;
    position: fixed;
}
.overflow-full {
  min-width: 100vw;
  overflow-y: auto;
  flex-wrap: unset;
  overflow-x: hidden;
  justify-content: flex-start;
  flex-direction: column;
  min-height: calc(100% - 34px);
  max-height: calc(100% - 34px);
}
.details {
  padding: 5px;
  margin-bottom: 10px;
}
.calendar {
  margin-bottom: 20px;
}
.detials .inner p {
  margin: 0;
  padding: 10px;
  max-width: 80%;
  text-align: left;
}
.email-details {
  display: flex;
  min-width: 95%;
  max-width: 95%;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.email-details p {
  margin: 0;
  padding: 10px;
  padding-left: 0;
  text-align: left;
}
.delete {
  color: #00dbff;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}
#next {
  margin-top: -100vh;
}

/* hitchhikers animation */
.bar-wrapper {
  width: 0;
  z-index: -1;
  display: flex;
  position: fixed;
}
.bar-wid {
  width: 100%;
}
.bar-left {
  width: 0;
  transition: 0.3s;
  background-color: transparent;
  border-bottom: 10px #00dbff solid;
}
.bar-grow {
  transition: 0.3s;
  border-right: 10px #00dbff solid;
}
.bar-date {
  width: 0;
  transition: 0.3s;
  display: inline-block;
  border-top: 10px #00dbff solid;
  background-color: transparent;
}
.bar-up {
  transition: 0.3s;
  min-height: 100%;
}
.bar-right {
  transition: 0.3s;
  width: 20vw;
}
#date {
  top: 0;
  z-index: 20;
  width: 100%;
  position: fixed;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}
.no-color {
  color: transparent;
}
.icon {
  padding: 10px;
}
.none {
  visibility: hidden;
}
.month {
  z-index: 24;
  height: 100vh;
  position: fixed;
  tranistion: 0.5s;
}
.off-page {
  transition: 0.5s;
  margin-top: 100vh;
}
.on-page {
  transition: 0.5s;
  margin-top: 0;
}
@media only screen and (max-width: 1000px) {
  .bar-right {
    width: 18vw;
  }
}
@media only screen and (max-width: 900px) {
  .header {
    width: 80vw;
  }
  #date {
    width: unset;
    position: relative;
    padding-right: 15px;
  }
  .view {
    flex-direction: column;
    justify-content: end;
  }
  .overflow-full {
    align-items: flex-end;
    min-height: calc(100% - 125px);
    max-height: calc(100% - 125px);
  }
  .header.details {
    margin-top: 10px;
    margin-right: 10px;
  }
  .bar-right {
    width: 30vw;
  }
}
@media only screen and (max-width: 700px) {
  .fixed-left {
    left: 5px;
  }
  .margin-top {
    margin-top: 10px;
  }
  .max-height {
    max-height: 75vh;
  }
  .bar-right {
    width: 25vw;
  }
}
@media only screen and (max-width: 500px) {
  .header {
    width: 70vw;
  }
  .settings {
    margin-top: 5px;
  }
  .bar-right {
    width: 40vw;
  }
}

/* dark */ 
.dark, .dark .header {
    color: white;
    border-color: #333;
    background-color: #333;
}
.dark .header {
    box-shadow: 4px 4px 10px 0 #111;
    background-image: linear-gradient(to bottom right, #222, #333);
}
.dark .header .inner .loading-text {
    color: #1a1a1a;
}
.dark .header .inner {
    background-color: #222;
    border-top: 2px solid #111;
    border-left: 2px solid #111;
    border-right: 2px solid #333;
    border-bottom: 2px solid #333;
}
.dark .option {
    border-top: 2px solid #333;
    border-left: 2px solid #333;
    border-right: 2px solid #222;
    border-bottom: 2px solid #222;
    box-shadow: 2px 2px 5px 0px #111;
    background-image: linear-gradient(to bottom right, #222, #333);
}
.dark .option:hover {
    border-top: 2px solid #222;
    border-left: 2px solid #222;
    border-right: 2px solid #333;
    border-bottom: 2px solid #333;
    box-shadow: -2px -2px 4px 0 #111;  
    background-image: linear-gradient(to bottom right, #222, #333);
}
.dark .selected,
.dark .option:active {
    border-top: 2px solid #111;
    border-left: 2px solid #111;
    border-right: 2px solid #333;
    border-bottom: 2px solid #333;
    box-shadow: 0px 0px 2px 0 #111; 
    background-image: radial-gradient(circle, #333, #222);
}
.dark .switch {
    box-shadow: 4px 4px 10px 0 #111;
    background-image: linear-gradient(to bottom right, #222, #333);
}
.dark .switch .inner {
    border: none;
    max-width: 100%;
    flex-wrap: wrap;
    text-align: left;
    flex-direction: row;
    background-image: none;
    background-color: transparent;
    justify-content: space-around;
}
.dark .switch .case.active,
.dark .switch .case:hover,
.dark .switch .case:active {
    cursor: pointer;
    background-color: #222;
    border-top: 2px solid #111;
    border-left: 2px solid #111;
    border-right: 2px solid #333;
    border-bottom: 2px solid #333;
}
.dark .input {
    color: white;
    background-color: #222;
    border-top: 2px solid #111;
    border-left: 2px solid #111;
    border-right: 2px solid #333;
    border-bottom: 2px solid #333;
}
.dark .toggle {
    border-top: 2px solid #111;
    border-left: 2px solid #111;
    border-right: 2px solid #333;
    border-bottom: 2px solid #333;
    background-image: linear-gradient(to bottom right, #222, #333);
}
.dark .toggle.active {
    background-image: none;
    background-color: #00dbff;
    box-shadow: 1px 1px 2px 0 #111; 
}

/* light */
.light .icon img {
  -webkit-filter: brightness(10%);
  filter: brightness(10%);
}
.light, .light .header {
  border-color: white;
  background-color: white;
}
.light .header {
  box-shadow: 5px 5px 10px 0px lightgrey;
  background-image: linear-gradient(to bottom right, #eee, #fff);
}
.light .header .inner .loading-text {
  color: white;
}
.light .header .inner {
  border: 2px solid #fff;
  background-color: #eee;
  border-top: 2px solid #ddd;
  border-left: 2px solid #ddd;
}
.light .option {
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  border-right: 2px solid #eee;
  border-bottom: 2px solid #eee;
  box-shadow: 2px 2px 5px 0px lightgrey;
  background-image: linear-gradient(to bottom right, #eee, #fff);
}
.light .option:hover {
  border-top: 2px solid #eee;
  border-left: 2px solid #eee;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  box-shadow: -2px -2px 4px 0 lightgrey;  
  background-image: linear-gradient(to bottom right, #eee, #fff);
}
.light .selected,
.light .option:active {
  border-top: 2px solid #ddd;
  border-left: 2px solid #ddd;
  border-right: 2px solid #eee;
  border-bottom: 2px solid #eee;
  box-shadow: 0px 0px 2px 0 lightgrey; 
  background-image: radial-gradient(circle, #fff, #eee);
}
  
.light .switch {
    box-shadow: 5px 5px 10px 0px lightgrey;
    background-image: linear-gradient(to bottom right, #eee, #fff);
}
.light .switch .inner {
  border: none;
  max-width: 100%;
  flex-wrap: wrap;
  text-align: left;
  flex-direction: row;
  background-image: none;
  background-color: transparent;
  justify-content: space-around;
}
.light .switch .case.active,
.light .switch .case:hover,
.light .switch .case:active {
    cursor: pointer;
    background-color: #eee;
    border-top: 2px solid #ddd;
    border-left: 2px solid #ddd;
}
.light .input {
  background-color: #eee;
  border-top: 2px solid #ddd;
  border-left: 2px solid #ddd;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
}
.light .toggle {    
  border-top: 2px solid #ddd;
  border-left: 2px solid #ddd;
  border-right: 2px solid #eee;
  border-bottom: 2px solid #eee;
  background-image: linear-gradient(to bottom right, #eee, #fff);
}
.light .toggle.active {
  background-image: none;
  background-color: #00dbff;
  box-shadow: 1px 1px 2px 0 lightgrey; 
}